body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f5f8fa;
    color:black;
}

/* Conteneur */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color:#3498DB;
    padding: 20px 0;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 800;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #f3f4f6;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: black;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #1f2937 0%, #111827 100%);
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero p {
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto 30px;
    line-height: 1.6;
}

.cta-button {
    background-color: #00b894;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #01906e;
}

/* FEATURES */
.features {
    background-color: #ffffff;
    padding: 80px 0;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.feature-box {
    background-color: #f0f4f8;
    padding: 25px;
    border-radius: 10px;
    flex: 1 1 calc(33% - 30px);
    box-shadow: 0 6px 16px 	#2ECC71;
    transition: transform 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-5px);
}

.feature-box h4 {
    margin-bottom: 12px;
    color: #1f2937;
    font-size: 18px;
}

/* FOOTER */
footer {
    background-color: #111827;
    color: #d1d5db;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
